body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455
}

a {
    text-decoration: none;
    color: currentColor;
}


.logo {
font-family: "Raleway", sans-serif;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
color: rgb(77, 90, 229);
font-family: 'Raleway';
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 3%;
text-transform: uppercase;
}

.logo-dark {
color: rgb(77, 90, 229);
font-family: 'Raleway';
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 3%;
text-transform: uppercase;
}

.logo-light {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.nav {
}
.nav-list {
}
.nav-list-item {
list-style-type: none;
/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}
.contact-info {
    font-style: normal;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }
  .contact-link:hover, 
  .contact-link:focus {
    color: #404bbf;
  }

  .contact-item {
    list-style-type: none;
  }


.hero {
    background-color: #2E2F42;
}
.btn-primary {
/* Button Text */
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 4%;
/* IRIS */
background: rgb(77, 90, 229);
cursor: pointer;
}
.features {
}
.feature {
}
.p-s {
/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
}

.h3-s {
/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}

.team-h2 {
/* Header 2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}
.team-list {
    list-style-type: none;
}

.portfolio-h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}
.team-p1 {
/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* NAVY BLUE */
color: #2E2F42;
}

.team-p2 {
/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* SLATE */
color: #434455;
}
.portfolio {
}
.portfolio-list {
    list-style-type: none;
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
/* CLOUD */
color: #F4F4FD;
}

.footer_text{
/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
/* CLOUD */
color: #F4F4FD;
}

.img-portfolio {
}
.h1-hero {
color: rgb(255, 255, 255);
font-family: 'Roboto';
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 2%;
}

.footer {
    background-color: #2E2F42;
}

.web-footer-dark {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
letter-spacing: 0.03em;
text-transform: uppercase;
/* IRIS */
color: #4D5AE5;
}

.f-link:hover {
    color: #404bbf;
}

.f-link:focus {
    color: #404bbf;
}