body {
    font-family: "Roboto", 'Raleway',  sans-serif;
    background-color: #fff;
    color: #434455
}

a {
    text-decoration: none;
    color: currentColor;
}


.logo {
/* Web */
width: 44px;
height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-dark {
color: rgb(77, 90, 229);
font-family: 'Raleway';
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 3%;
text-transform: uppercase;
}

.logo-light {
/* Studio */
width: 71px;
height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.nav {
}
.nav-list {
}
.nav-list-item {
/* Studio */
list-style-type: none;
width: 48px;
height: 24px;
/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}
.contact-info {
/* info@devstudio.com */
width: 153px;
height: 24px;
left: 940px;
top: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
}
.hero {
    background-color: #2E2F42;
}
.btn-primary {
/* Button */
position: relative;
width: 169px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 16px 32px 16px 32px;
/* Button Text */
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 4%;
text-align: left;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
/* IRIS */
background: rgb(77, 90, 229);
cursor: pointer;
}
.features {
}
.feature {
}
.p-s {
    /* Our goal is to identify the business problem to walk away with the perfect and creative solution. */

width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
}

.h3-s {
/* Strategy */
width: 264px;
height: 24px;
/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}

.team-h2 {
/* Header 2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}
.team-list {
    list-style-type: none;
}

.portfolio-h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
/* NAVY BLUE */
color: #2E2F42;
}
.team-p1 {
    /* Camila Garcia */
width: 130px;
height: 24px;
/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* NAVY BLUE */
color: #2E2F42;
}

.team-p2 {
/* Frontend Developer */
width: 144px;
height: 24px;
/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* SLATE */
color: #434455;
}
.portfolio {
}
.portfolio-list {
    list-style-type: none;
}
.footer-logo {
    /* Studio */
width: 71px;
height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
/* CLOUD */
color: #F4F4FD;
}

.footer_text{
/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
/* CLOUD */
color: #F4F4FD;
}

.img-portfolio {
}
.h1-hero {
color: rgb(255, 255, 255);
font-family: 'Roboto';
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 2%;
}

.footer {
    background-color: #2E2F42;
}

.web-footer-dark {
/* Web */
width: 44px;
height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
letter-spacing: 0.03em;
text-transform: uppercase;
/* IRIS */
color: #4D5AE5;
}